<!--The content below is only a placeholder and can be replaced.-->
<section style="margin-top:40px;">

      <mat-accordion>

            <mat-expansion-panel>
                  <mat-expansion-panel-header>
                        Story 1
                  </mat-expansion-panel-header>
                  Edit state details in workflow configuration.
            </mat-expansion-panel>
            <mat-expansion-panel>
                  <mat-expansion-panel-header>
                        Story 2
                  </mat-expansion-panel-header>
                  Edit state details in workflow configuration.
            </mat-expansion-panel>
            <mat-expansion-panel>
                  <mat-expansion-panel-header>
                        Story 3
                  </mat-expansion-panel-header>
                  Edit state details in workflow configuration.
            </mat-expansion-panel>
            <mat-expansion-panel>
                  <mat-expansion-panel-header>
                        Story 4
                  </mat-expansion-panel-header>
                  Edit state details in workflow configuration.
            </mat-expansion-panel>
      </mat-accordion>
</section>